* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f8ff;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column; /* Cambia a columna para pantallas pequeñas */
}

.container {
    text-align: center;
    padding: 20px; /* Añadir un poco de espacio interno */
}

h1 {
    color: #1e90ff;
    font-size: 4.5em; /* Ajustar el tamaño del texto para pantallas pequeñas */
    margin-bottom: 20px;
}

p {
    color: #000080;
    font-size: 1.2em; /* Ajustar el tamaño del texto para pantallas pequeñas */
}

.images {
    margin-top: 20px;
}

.flores, .hotwheels {
    width: 100%; /* Hacer que las imágenes sean responsivas */
    max-width: 200px; /* Limitar el tamaño máximo */
    margin: 10px;
    border-radius: 10px;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
    background-color: #1e90ff; /* Color inicial */
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s; /* Transición para el color */
}

button:hover {
    background-color: #00bfff; /* Color al pasar el ratón */
}

.hidden {
    display: none;
}

.photo-gallery {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.photo-gallery img {
    width: 100%; /* Hacer que las imágenes sean responsivas */
    max-width: 150px; /* Limitar el tamaño máximo */
    margin: 10px;
    border-radius: 10px;
}



@media (max-width: 600px) {
    h1 {
        font-size: 2em; /* Ajustar el tamaño del texto en pantallas pequeñas */
    }

    p {
        font-size: 1em; /* Ajustar el tamaño del texto en pantallas pequeñas */
    }

    button {
        font-size: 1em; /* Ajustar el tamaño del botón en pantallas pequeñas */
    }
}